:root {
    /* Custom Colors */
    --eerie-black: #222222ff;
    --white: #ffffffff;
    --ultra-violet: #4b4e6dff;
    --moonstone: #68959aff;
  
    /* Primary Colors */
    --primary-color: var(--ultra-violet);
    --primary-color-dark: #2e3175ff;
    --primary-color-light: #a5a8d6ff;
  
    /* Secondary Colors */
    --secondary-color: #5f5f5fff;
    --secondary-color-dark: #3a3a3aff;
    --secondary-color-light: #7d7d7dff;
  
    /* Accent Colors */
    --accent-color: #17a2b8ff;
    --accent-color-dark: #0f6674ff;
    --accent-color-light: #35c1d8ff;
  }
  
  /* Usage example */
  body {
    background: linear-gradient(0deg, rgba(252,250,231,1) 0%, rgba(17,19,69,1) 100%);
    /* color: var(--eerie-black); */
  }
  .haein, .kim {
    display: flex;
    font-size: 20vw;
    justify-content: space-around;
}
.pronounce {
  font-size: 4vw;
}
  /* header {
    background: var(--ultra-violet)
  } */
  
  .icon-button {
    color: var(--eerie-black)
  }
  .profile-pic {
    width: 100px;
  }

  @media (max-width: 320px) {
    body {
      background: var(--ultra-violet)
    }

  }